
<div>
    <form [formGroup]="form">
      <label for="cName">Country Name</label>
      <input type="text" id="cName" name="cName" placeholder="Country.." formControlName="cName">
  
      <!-- <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name.." formControlName="lastName">

      <label for="email">Last Name</label>
      <input type="text" id="email" name="email" placeholder="your email.." formControlName="email"> -->
  
      
    
      <input type="submit" value="Submit" (click)="submitTable()">
    </form>
  </div>
  <div *ngIf="table">
      <app-xyz [uTable] = "table"></app-xyz>
  </div>