<p>overview works!</p>


<div>
    <form [formGroup]="shoppingForm">
      <label for="fname">COuntry Name</label>
      <input type="text" id="countryName" name="countryName" placeholder="Country.." formControlName="countryName">
  
      <!-- <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name.." formControlName="lastName">

      <label for="email">Last Name</label>
      <input type="text" id="email" name="email" placeholder="your email.." formControlName="email"> -->
  
      
    
      <input type="submit" value="Submit" (click)="submitStudentForm()">
    </form>
  </div>
  <div *ngIf="tableData">
      <app-table [universityTableData] = "tableData"></app-table>
  </div>