<!-- <div class='topnav'> 
    <a (click)='navigateToStudent()'>student</a>  <br>
    <a (click)='navigateToStaff()'>staff</a>  <br>
    <a (click)='navigateToWilmu()'>wilmu</a>
</div> -->



<ul>
    <li><a (click)='navigateToHome()' >Home</a></li>
    <li><a (click)='navigateToStudent()' >student</a></li>
    <li><a  (click)='navigateToStaff()'>staff</a></li>
    <li><a  (click)='navigateToWilmu()'>wilmu</a></li>
    <li><a  (click)='navigateToUniversity()'>university -- {{totalNoOfUniversities}}</a></li>
    <li><a  (click)='navigateToAccount()'>Account</a></li>
    <li><a  (click)='navigateToNation()'>Nation</a></li>
    <li><a  (click)='navigateToShopping()'>Shopping</a></li>
    <li><a >Cart Items - {{noOfItemsInCart}}</a></li>

    

    <!-- <app-university></app-university> -->
    
  </ul>








